"""
Для мониторинга используются удаленные Linux и Windows серверы.
Авторизация на хостах отличается именем пользователя. При добавлении нового сервера в мониторинг требуется вписать его
в соответствующий список.
"""

# Для Linux-серверов
LINUX_USER = 'user1'

LINUX_HOSTS = ['host1',
               'host2',
               '....',
               '....',]

# Для Windows-серверов
WINDOWS_USER = 'user2'

WINDOWS_HOSTS = ['host3']

